/* CSS modifications */
.tabs .indicator{
	background-color: #000000;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
	background: transparent;
}

/*Deixando o footer sempre no fim da página*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer {
	margin-top: auto;
}

.vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


 
 